.main {
	width: 90vw;
	min-height: 100vh;
	margin: 1.15rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	color: var(--text-primary);
	font-family: Noto Sans;
	font-size: 1.3rem;
	font-weight: 600;
	line-height: normal;
	margin: 1.7rem 0 1rem 0;
}

.desc {
	color: var(--text-primary);
	font-family: Noto Sans;
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 2rem;
}

.sub__desc {
	text-align: center;
	color: #828282;
	font-size: 0.875rem;
	font-weight: 400;
	margin-bottom: 1.4rem;
}
